################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blazor.VanillaPicker/.vs/Blazor.VanillaPicker
/Blazor.VanillaPicker/Blazor.VanillaPicker/obj
/Blazor.VanillaPicker/Blazor.VanillaPicker/node_modules
/Blazor.VanillaPicker/Blazor.VanillaPicker/bin/Debug/net5.0
/Blazor.VanillaPicker/Blazor.VanillaPicker/wwwroot/VanillaPicker.js
/Blazor.VanillaPicker/Blazor.VanillaPicker.Demo/obj
/Blazor.VanillaPicker/Blazor.VanillaPicker.Demo/bin/Debug/net5.0
/Blazor.VanillaPicker/Blazor.VanillaPicker.Demo.Server/obj
/Blazor.VanillaPicker/Blazor.VanillaPicker.Demo.Server/bin/Debug/net5.0
